# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
*.db
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.neon
.env.local
.vercel/
.vercel_python_packages/
pyproject.toml
uv.lock
